header{
    display:block;
    background:rgb(227, 125, 125);
    padding:10px;
    text-align:center;
}
header span{
    display:inline;
}
.inline-block-menu ul{
    list-style: none;
    padding:0;
}
.inline-block-menu li{
    display:inline-block;
    margin-right:10px;
}
.inline-block-menu a{
     text-decoration: none;
    padding:5px;
}
.float-menu ul{
    list-style:none;
    padding:0;
}
.float-menu li{
    float:left;
    margin-right:10px;
}
float-menu a{
    text-decoration: none;
    padding:50px;
}
.clear{
    clear:both;
}